<div [@routerTransition]>
    <app-page-header [heading]="'Set Intervals'" [icon]="'fa-sliders'"></app-page-header>
    <div class="row">
        <ng-container *ngFor="let userthingy of userthingys">
            <button style="width:160px; margin-left:7px;" class="btn"
                    [ngClass]="{
                                'btn-primary':userthingyA === userthingy
                              }"
                    (click)="changeUserthingy(userthingy)">{{userthingy.thingyID}}</button>
        </ng-container>
    </div>
    <div class="row">
        <div style="height:15px;"></div>
    </div>
    <form [formGroup]="userthingyForm">
        <div class="form-content">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col col-sm-8" *ngIf="userthingyA">
                        <div class="card mb-3">
                            <div class="card-header">
                                Interval overview
                            </div>
                            <div style="height:5px"></div>
                            <div class="form-content">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                            <div style="margin-top: 5px">
                                                <strong>Thingy min Temperature</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                        <input type="number" class="form-control input-underline input-lg" formControlName="thingyMinTemperature" [max]="userthingyA.thingyMaxTemperature - 1"
                                               id="thingyMinTemperature" placeholder="Set new Temperature" [(ngModel)]="userthingyA.thingyMinTemperature" required>
                                        </div>
                                        <div class="col-sm-2">
                                            <div style="margin-top: 5px;">
                                                <strong>°C</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:5px;"></div>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                            <div style="margin-top: 5px">
                                                <strong>Thingy max Temperature</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="number" class="form-control input-underline input-lg" formControlName="thingyMaxTemperature" [min]="userthingyA.thingyMinTemperature + 1"
                                                   id="thingyMaxTemperature" placeholder="Set new Temperature" [(ngModel)]="userthingyA.thingyMaxTemperature" required>
                                        </div>
                                        <div class="col-sm-2">
                                            <div style="margin-top: 5px;">
                                                <strong>°C</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height:5px;"></div>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                            <div style="margin-top: 5px">
                                                <strong>Destination latitude</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control input-underline input-lg" formControlName="endLatitude" disabled
                                                   id="endLatitude" placeholder="-" [(ngModel)]="userthingyA.endLatitude" required>
                                        </div>
                                    </div>
                                    <div style="height:5px;"></div>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-7">
                                            <div style="margin-top: 5px">
                                                <strong>Destination longitude</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control input-underline input-lg" formControlName="endLongitude" disabled
                                                   id="endLongitude" placeholder="-" [(ngModel)]="userthingyA.endLongitude" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn rounded-btn pull-right" [disabled]="!userthingyForm.valid"
                                        (click)="onSetIntervals()"> Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!user.userThingys">
                        You currently don't own any thingys.
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col col-sm-10">
                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="row" style="height:30px">
                                    <div class="col-sm-6">
                                        Destination
                                    </div>
                                </div>
                            </div>
                            <agm-map [latitude]="latMap" [longitude]="lngMap" [zoom]="15">
                                <agm-marker [latitude]="latMarker" [longitude]="lngMarker"></agm-marker>
                                <agm-polyline [strokeColor]="'Red'">
                                    <agm-polyline-point [latitude]="dest_lat1" [longitude]="dest_lng1"></agm-polyline-point>
                                    <agm-polyline-point [latitude]="dest_lat1" [longitude]="dest_lng2"></agm-polyline-point>
                                    <agm-polyline-point [latitude]="dest_lat2" [longitude]="dest_lng2"></agm-polyline-point>
                                    <agm-polyline-point [latitude]="dest_lat2" [longitude]="dest_lng1"></agm-polyline-point>
                                    <agm-polyline-point [latitude]="dest_lat1" [longitude]="dest_lng1"></agm-polyline-point>
                                </agm-polyline>
                            </agm-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
