<div [@routerTransition]>
    <app-page-header [heading]="'Add New Thingy'" [icon]="'fa-plus'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Add a new Thingy
                </div>

                <form [formGroup]="newThingyForm">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" formControlName="thingyID"
                                   id="thingyID" placeholder="New thingy id" [(ngModel)]="userthingy.thingyID" required>
                            <input type="text" class="form-control input-underline input-lg" formControlName="thingyMaxTemperature"
                                   id="thingyMaxTemperature" placeholder="New thingyMaxTemperature" [(ngModel)]="userthingy.thingyMaxTemperature" required>
                            <input type="text" class="form-control input-underline input-lg" formControlName="thingyMinTemperature"
                                   id="thingyMinTemperature" placeholder="New thingyMinTemperature" [(ngModel)]="userthingy.thingyMinTemperature" required>
                            <input type="text" class="form-control input-underline input-lg" formControlName="endLatitude"
                                   id="endLatitude" placeholder="New thingy endLatitude" [(ngModel)]="userthingy.endLatitude" required>
                            <input type="text" class="form-control input-underline input-lg" formControlName="endLongitude"
                                   id="endLongitude" placeholder="New thingy endLongitude" [(ngModel)]="userthingy.endLongitude" required>
                        </div>

                    </div>
                    <button class="btn rounded-btn pull-right" [disabled]="!newThingyForm.valid" (click)="onAddThingy()"> Add </button>
                </form>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Your Thingys
                </div>
                <div class="card-block">
                    <table class="table">
                        <tr>
                            <th>Thingy Id</th>
                            <th>Options</th>
                        </tr>
                        <tr *ngFor="let TId of user.userThingys">
                            <td>{{ TId }}</td>
                            <td><i (click)="onDeleteUserthingy(TId)" class="fa fa-ban"></i></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
