<div [@routerTransition]>
    <app-page-header [heading]="'Add New Thingy'" [icon]="'fa-plus'"></app-page-header>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Add a new Thingy
                </div>

                <form [formGroup]="newThingyForm">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text" class="form-control input-underline input-lg" formControlName="thingyId"
                                   id="thingyId" placeholder="New thingy id" [(ngModel)]="newThingyId" required>
                        </div>

                    </div>
                    <button class="btn rounded-btn pull-right" [disabled]="!newThingyForm.valid" (click)="onAddThingy()"> Add </button>&nbsp;
                </form>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Your Thingys
                </div>
                <div class="card-block">
                    <table class="table">
                        <tr>
                            <th>Thingy Id</th>
                        </tr>
                        <tr *ngFor="let TId of user.thingysID">
                            <td>{{ TId }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
