/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

.snackbar-design {
    background: lightgray !important;
    position: fixed !important;
    top: 2%;
    right: 2%;
    z-index: 9999 !important;
}

.cdk-visually-hidden {
    display: none !important;
}
