<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>of {{username}}</small></h2>

    <h4> Hi! <br> </h4>
    <span *ngIf="user?.userThingys?.length <= 0">
        <h4>
            You currently don't own any thingys<br/>
            Click <a [routerLink]="['/addthingy']">here</a> to add a new thingy!<br/>
        </h4>
    </span>
    <div class="col col-sm-8" *ngIf="user?.userThingys?.length > 0">
        <div class="card mb-3">
            <div class="card-header">
                Your Thingys
            </div>
            <div class="card-block">
                <table class="table">
                    <tr>
                        <th>Thingy Id</th>
                        <th>Entries</th>
                        <th>Status</th>
                        <th>Options</th>
                    </tr>
                    <tr *ngFor="let userthingy of userthingys">
                        <td>{{ userthingy.thingyID }}</td>
                        <td>{{ getThingyEntries(userthingy.thingyID) }}</td>
                        <td> {{ returnStatus(userthingy) }} </td>
                        <td>
                            <i style="cursor: pointer; padding-right:5px;" [routerLink]="['/sensordata']" class="fa fa-eye" aria-hidden="true"></i>
                            <i *ngIf="userthingy.packageArrivedMessageSent" style="cursor: pointer;" (click)="onDeleteUserthingy(userthingy.thingyID)" class="fa fa-ban"></i>
                            <i style="cursor: pointer; color: white" (click)="onDeleteUserthingy(userthingy.thingyID)" class="fa fa-lock"></i>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <ng-container *ngFor="let userthingy of userthingys">
        <h3 *ngIf="userthingy.packageArrivedMessageSent">
            Your package of thingy <strong>{{userthingy.thingyID}}</strong> arrived! <br>
            Click <a [routerLink]="['/dashboard']" (click)="onDeleteUserthingy(userthingy.thingyID)">here</a> to delete it. <br>
            Or go to <a [routerLink]="['/sensordata']">Sensordata Overview</a> to review your data. <br>
            Remember that you pay for our service as long as you don't delete your thingy!
        </h3>
    </ng-container>
</div>
