<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>of {{username}}</small></h2>

        <h4>
        Hi!<br/>
        You currently have {{dataNumber}} entries in your Thingy History.<br/>
        <span *ngIf="dataNumber && dataNumber>0">
        Your last entry was at {{lastThingy?.date | date: 'dd/MM/yy, hh:mm:ss'}}.<br/>
        These are the sensor data:<br/>
        </span>
        <span *ngIf="!dataNumber || dataNumber<=0">
        Go to Sensordata Overview to simulate some data!<br/>
        </span>
        </h4>
    <ng-container *ngIf="dataNumber && dataNumber!=0">
        <table class="table">
            <tr>
                <th>Color</th>
                <th>Gas</th>
                <th>Gravity</th>
                <th>Humidity</th>
                <th>Pressure</th>
                <th>Temperature</th>
            </tr>
            <tr>
                <td>{{ lastThingy?.color }}</td>
                <td>{{ lastThingy?.gas }}</td>
                <td>{{ lastThingy?.gravity }}</td>
                <td>{{ lastThingy?.humidity }}</td>
                <td>{{ lastThingy?.pressure }}</td>
                <td>{{ lastThingy?.temperature }}</td>
            </tr>
        </table>
    </ng-container>
</div>
