<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>of {{username}}</small></h2>

        <h4>
        Hi!<br/>
        <span *ngIf="dataNumber && dataNumber>0">
            You currently have {{dataNumber}} entries in your Thingy History.<br/>
            Your last entry was at {{lastThingy?.date | date: 'dd/MM/yy, hh:mm:ss'}}.<br/>
            These are the sensor data:<br/>
        </span>
        <span *ngIf="!dataNumber || dataNumber<=0">
            You currently don't own any thingys. <br/>
            Click <a [routerLink]="['/tables']">here</a> to add a new thingy!<br/>
        </span>
        </h4>
    <ng-container *ngIf="dataNumber && dataNumber!=0">
        <table class="table table-striped table-responsive">
            <thead>
            <tr>
                <th>Date
                </th>
                <th>Thingy Id</th>
                <th>User</th>
                <th>Temperature [C°]
                </th>
                <th>Pressure
                </th>
                <th>Humidity
                </th>
                <th>Eco2</th>
                <th>Tvoc</th>
                <th>Color Red</th>
                <th>Color Green</th>
                <th>Color Blue</th>
                <th>Color Alpha</th>
                <th>Button</th>
                <th>Tap Direction</th>
                <th>Tap Count</th>
                <th>Orientation</th>
                <th>Accelerometer X</th>
                <th>Accelerometer Y</th>
                <th>Accelerometer Z</th>
                <th>Latitude</th>
                <th>Longitude</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ lastThingy?.date | date: 'dd/MM/yy, hh:mm:ss'}}</td>
                <td>{{ lastThingy?.thingyID }}</td>
                <td>{{ lastThingy?.user?.email }}</td>
                <td>{{ lastThingy?.temperature }}</td>
                <td>{{ lastThingy?.pressure }}</td>
                <td>{{ lastThingy?.humidity }}</td>
                <td>{{ lastThingy?.eco2 }}</td>
                <td>{{ lastThingy?.tvoc }}</td>
                <td>{{ lastThingy?.colorRed }}</td>
                <td>{{ lastThingy?.colorGreen }}</td>
                <td>{{ lastThingy?.colorBlue }}</td>
                <td>{{ lastThingy?.colorAlpha }}</td>
                <td>{{ lastThingy?.button }}</td>
                <td>{{ lastThingy?.tapDirection }}</td>
                <td>{{ lastThingy?.tapCount }}</td>
                <td>{{ lastThingy?.orientation }}</td>
                <td>{{ lastThingy?.accelerometerX }}</td>
                <td>{{ lastThingy?.accelerometerY }}</td>
                <td>{{ lastThingy?.accelerometerZ }}</td>
                <td>{{ lastThingy?.latitude }}</td>
                <td>{{ lastThingy?.longitude }}</td>
            </tr>
            </tbody>
        </table>
    </ng-container>
</div>
